[Unit]
Description=Registers FFS gadget descriptors (writes to ep0)
After=setup-gadget.service
Requires=setup-gadget.service

[Service]
Type=simple
User=registrar
Group=registrar
Environment="BROKER_LOG=debug"
ExecStart=/usr/local/bin/ffs_registrar
RemainAfterExit=yes
Restart=on-failure
RestartSec=2
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target