[Unit]
Description=Enable tezsign FFS (create gadget, link functions, mount /dev/ffs/tezsign)
Requires=usb-gadget.target
After=usb-gadget.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/setup-gadget.sh
RemainAfterExit=yes
StandardOutput=journal+console
StandardError=journal+console

[Install]
WantedBy=multi-user.target